<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="header">
        <h1>Welcome {{user.first_name}}!!!!</h1>
        <div class="buttons">
            <a href="/recipes/new">Create</a>
            <a href="/logout">Logout</a>
        </div>
        <p>These are the recipes:</p>
    </div> 
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.quick}}</td>
                        <td><a href="/recipes/{{recipe.id}}">  View Instructions  |</a>
                            {% if session['user_id']==recipe.user_id %}
                            <a href="/recipes/edit/{{recipe.id}}">  Edit  |</a>
                            <a href="/recipes/destroy/{{recipe.id}}">  Delete  </a>
                            {% endif %}
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>