<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <div class="inputs">
        <h1>Edit Recipe</h1>
        <form action="/update" name="edit" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="recipe">
                <div>
                    <label for="name">Name:</label><br>
                    <input type="text" name="name" value="{{recipe.name}}">
                </div>
                <div>
                    <label for="description">Description:</label><br>
                    <textarea name="description" id="description" cols="30" rows="5" >{{recipe.description}}</textarea>
                </div>
                <div>
                    <label for="instructions">Instructions:</label><br>
                    <textarea name="instructions" id="instructions" cols="30" rows="15" >{{recipe.instructions}}</textarea>
                </div>
                <div>
                    <label for="date_made">Date Made On:</label><br>
                    <input type="date" name="date_made" value="{{recipe.date_made}}">
                </div>
                <div>
                    <label for="quick">Under 30 Minutes?</label><br>
                    <input type="radio" name="quick" value="1">
                    <label for="1">Yes</label>
                    <input type="radio" name="quick" value="0">
                    <label for="0">No</label>
                </div>
                <div>
                    <input type="hidden" name="id" value="{{recipe.id}}">
                </div>
            </div>        
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>