<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="left">
        <h1>Register</h1>
        <form action="/register" name="register" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages(category_filter=['register']) %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="login"> 
                <div>
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password">
                </div>
                <div>
                    <label for="confirm">Confirm Password:</label><br>
                    <input type="password" name="confirm">
                </div>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="right">
        <h1>Login</h1>
        <form action="/login" name="login" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages(category_filter=['login']) %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="right">
                <div>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password">
                </div>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>